.feedback{
  background-color: $white;
  padding-bottom: 100px;
}
.feedback__title{
  font-size: 25px;
  font-weight: 800;
  font-family: $primary-family;
  line-height: 33px;
  text-align: center;
  padding-top: 200px;
  letter-spacing: 13px;
  color: $secondary;

}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

.form__item{
  width: 249px;
  height: 55px;
  padding-left: 10px;
  margin-right: 15px;
  background-color: #EFF0F1;

}


.form__item::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black;
}
.form__item::-moz-placeholder { /* Firefox 19+ */
  color: $black;
  opacity: 1;
}
.form__item:-ms-input-placeholder { /* IE 10+ */
  color: $black;
}
.form__item:-moz-placeholder { /* Firefox 18- */
  color: $black;
  opacity: 1;
}

.form__item--btn{
  width: 249px;
  height: 55px;
  margin-right: 15px;
  background-color: $black;
  color: $white;
  font-size: 12px;
  font-weight: 700;
  font-family: $primary-family;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
